.pokemon-image-container {
    height: 150px;
    width: 150px;
    background-color: lightgray;
    transition: .5s ease;
}

.pokemon-image-container:hover {
    box-shadow: 0 0 0 5px #000000 inset;
    transition: .5s ease;
}

.pokemon-info {
    text-align: center;
}

.pokemon-name {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
}

.pokemon-types {
    text-transform: capitalize;
    display: flex;
    justify-content: space-evenly;
}

.type {
    padding: 3px 10px;
    border-radius: 5px;
}
