<div *ngIf="pokemon !== undefined">
    <div class="pokemon-image-container">
        <img [src]="pokemon.sprites.front_default" alt="">
    </div>
    <div class="pokemon-info">
        <h2 class="pokemon-name">{{pokemon.name}}</h2>
        <ul class="pokemon-types">
            <li class="type" [ngClass]="type.type.name" *ngFor="let type of pokemon.types">
                {{type.type.name}}
            </li>
        </ul>
    </div>
    <div class="pokemon-stat">
        HP : {{pokemon.stats[0].base_stat}}<br>
        Attack : {{pokemon.stats[1].base_stat}}<br>
        Defense : {{pokemon.stats[2].base_stat}}<br>
        Special Attack : {{pokemon.stats[3].base_stat}}<br>
        Special Defense : {{pokemon.stats[4].base_stat}}<br>
        Speed : {{pokemon.stats[5].base_stat}}<br>
    </div>
    <ul class="ability-list">
        <li *ngFor="let ability of pokemon.abilities">
            <app-ability-info-box [abilityLink]="ability.ability.url"></app-ability-info-box>
        </li>
    </ul>
</div>
