@use "../../../import" as *;

.main-page {
    padding: 8px;
}

h1 {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
}

.description {
    margin-top: 16px;
    border-style: outset;
    border-radius: 10px;
    border-color: $main-color;
}

.description-tab-content {
    padding: 8px;
}

.version-tab-label, .variety-tab-label {
    text-transform: capitalize;  
}

.variety-tab-label {
    font-size: 18px;
}

.tab-label-image {
    margin-left: 4px;
}

img {
    height: 50px;
    width: 50px;
}