<div class="main-page" *ngIf="pokemonSpecies !== undefined && allDataFetched">
    <h1>{{pokemonSpecies.name}}</h1>
    <form class="variety-form" *ngIf="pokemonSpecies.varieties.length > 1">
        <select id="variety-select" name="pokemonVariety" [(ngModel)]="selectedPokemonVariety">
            <option *ngFor="let pokemonVariety of pokemonSpecies.varieties" [ngValue]="pokemonVariety" >
                {{pokemonVariety.pokemon.name}}
            </option>
        </select>
    </form>
    <div class="description">
        <mat-tab-group>
            <mat-tab *ngFor="let version of getAllVersionFlavorText()">
                <ng-template mat-tab-label class="tab-label">
                    <span class="version-tab-label">{{version}}</span>
                </ng-template>
                <div class="description-tab-content">
                    {{findFlavorText(version)}}
                </div> 
            </mat-tab>
        </mat-tab-group>
    </div>
    <app-evolution-chain [evolutionUrl]="pokemonSpecies.evolution_chain.url"></app-evolution-chain>
    <app-pokemon-variety-info [pokemon]="selectedPokemonVariety.pokemonInfo"></app-pokemon-variety-info>
</div>
