<div class="main-page" *ngIf="pokemonSpecies !== undefined">
    <h1>{{pokemonSpecies.name}}</h1>
    <div class="description">
        <mat-tab-group *ngIf="allDataFetched">
            <mat-tab *ngFor="let version of getAllVersionFlavorText()">
                <ng-template mat-tab-label class="tab-label">
                    <span class="version-tab-label">{{version}}</span>
                </ng-template>
                <div class="description-tab-content">
                    {{findFlavorText(version)}}
                </div> 
            </mat-tab>
        </mat-tab-group>
    </div>
    <app-evolution-chain [evolutionUrl]="pokemonSpecies.evolution_chain.url"></app-evolution-chain>
    <mat-tab-group *ngIf="allDataFetched">
        <mat-tab *ngFor="let pokemon of pokemonSpecies.varieties">
            <ng-template mat-tab-label class="tab-label">
                <span class="variety-tab-label">{{pokemon.pokemon.name}}</span>
                <img class="tab-label-image" [src]="pokemon.pokemonInfo.sprites.front_default" alt="">
            </ng-template>
            <app-pokemon-variety-info [pokemon]="pokemon.pokemonInfo"></app-pokemon-variety-info>
        </mat-tab>
    </mat-tab-group>
</div>
