<div class="link-box">
    <a href="/pokemon/{{evoChain.species_name}}">
        <div class="pokemon-link-image">
            {{evoChain.species_name}}
        </div>
    </a>
    <ul *ngIf="evoChain.evolves_to!.length > 0">
        <li *ngFor="let pokemon of evoChain.evolves_to">
            v
            {{pokemon.min_level}}
            {{pokemon.trigger_name}}
            @if (pokemon.item !== null) {
                {{pokemon.item.name}}
            }
            <br>
            <app-evolution-chain-link [evoChain]="pokemon"></app-evolution-chain-link>       
        </li>
    </ul>
</div>
